{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/transaction.js') }}"></script>
<body>
  <div class="container-fluid" id="main">
	{% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">   
	  {% include 'left_menus.html' %}	
      <div class="col-md-9 col-lg-10 main"> 
		<h3>Transaction Listing</h3>
			<br>
			<!-- <div class="float-right mb-2 col-md-2">
				<button type="button" id="addBook" class="btn btn-info" title="Add book"><span class="glyphicon glyphicon-plus">Add Transaction</span></button>
			</div> -->
			<div class="input-group mb-3">
				<input type="text" id="searchTransactionid" class="form-control" placeholder="Search by transaction id...">
				<button type="button" id="searchTransaction" class="btn btn-primary mt-2">Search</button>
			</div>
			<br><br>			
			<table class="table table-striped">
			<thead>
			  <tr>
				<th></th>
				<th>Transaction id</th>				
				<th>Book id</th>				
				<th>Issued Date</th>	
				<th>Age</th>				
				<th>Major</th>	
				<th>student Id</th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			  {% for data in transaction_id %}			  
				  <tr>
					<td></td>
					<td>{{data.transaction_id}}</td>
					
					<td>{{data.book_id}}</td>
					
					<td>{{data.Issued_Date}}</td> 
					<td>{{data.Age}}</td>
					
					<td>{{data.Major}}</td>
					<td>{{data.Student_ID}}</td>				
					<!-- <td><a href="{{url_for('edit_book', bookid=transaction_id)}}" class="btn btn-primary">Edit</a></td>	
					<td><a href="{{url_for('delete_book', bookid=transaction_id)}}" class="btn btn-danger">Delete</a></td> --> 
				  </tr> 
			{% endfor %}	  
			</tbody>
		  </table>	        
        <hr>         
       </div>       
      </div>     
    </div>

	<div id="bookModal" class="modal fade">
		<div class="modal-dialog">
			<form method="post" id="bookForm" action="{{ url_for('save_book')}}">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"></button>
						<h4 class="modal-title"><i class="fa fa-plus"></i> Edit book</h4>
					</div>
					<div class="modal-body">						
						
						<div class="form-group">							
							<label for="book" class="control-label">Book</label>							
							<input type="text" name="name" id="name" autocomplete="off" class="form-control" placeholder="book name"/>
											
						</div>
						
						<!-- <div class="form-group">							
							<label for="book" class="control-label">ISBN No</label>							
							<input type="text" name="isbn" id="isbn" autocomplete="off" class="form-control" placeholder="isbn name"/>
											
						</div> -->
						
						<!-- <div class="form-group">							
							<label for="book" class="control-label">No of copy</label>			
							<input type="number" name="no_of_copy" id="no_of_copy" autocomplete="off" class="form-control" placeholder="No of copy"/>
						</div> -->
						
						<div class="form-group">							
							<label for="author" class="control-label">book_id</label>
							<select name="author" id="author" class="form-control">
								<option value="">Select</option>
								{% for book_id in book_id %}
									<option value="{{book_id.book_id}}">{{book_id.book_id}}</option>
								{% endfor %}	  							
							</select>
						</div>
						
						
						<div class="form-group">							
							<label for="publisher" class="control-label">Publisher</label>
							<select name="publisher" id="publisher" class="form-control">
								<option value="">Select</option>
								{% for publisher in publishers %}
									<option value="{{publisher.publisherid}}">{{publisher.name}}</option>
								{% endfor %}								
							</select>
						</div>

						<div class="form-group">							
							<label for="category" class="control-label">Category</label>
							<select name="category" id="category" class="form-control">
								<option value="">Select</option>
								{% for category in categories %}
									<option value="{{category.categoryid}}">{{category.name}}</option>
								{% endfor %}								
							</select>
						</div>								
					
						<div class="form-group">							
							<label for="rack" class="control-label">Rack</label>
							<select name="rack" id="rack" class="form-control">
								<option value="">Select</option>
								{% for rack in racks %}
									<option value="{{rack.categoryid}}">{{rack.name}}</option>
								{% endfor %}								
							</select>
						</div>	
						
						
						<div class="form-group">
							<label for="status" class="control-label">Status</label>							
							<select class="form-control" id="status" name="status"/>
								<option value="">Select</option>							
								<option value="Enable">Enable</option>
								<option value="Disable">Disable</option>								
							</select>							
						</div>				
						
										
					</div>
					<div class="modal-footer">
						<input type="hidden" name="bookid" id="bookid" />					
						<input type="hidden" name="action" id="action" value="" />
						<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
  </body>
</html>